.controlBar {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 8px;
    background-color: $darkest;

}

.controlBarItem {
    display: inline;
    margin-right: 10px;
}

.controlBarForm {
    display: inline;
}

.controlBarInput {
    //width: 160px;
    background-color: $dark;
    color: white;
    border-radius: 5px;
}

.controlBarDataList {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
 }