.controlBar {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    //background-color: $semi-dark;    
    //background-color: rgba(255, 255, 255, 0);    
    //text-align: center;
}

.controlBarItem {
    display: inline;
    margin-right: 10px;
}