#pseudo-wrapper {
    font-size: 1rem; 
    background-color: #141518;    
    float: left;
    margin-right: 20px;
}

#pseudo-editor {
    font-size: 1rem;
    background-color: #141518;    
    width: 200px;
    height: 500px;    
}

#php-wrapper {
    font-size: 1rem;
    background-color: #141518;
    display: inline-block;
    width: 80%;    
}

#php-editor {
    font-size: 1rem;
    background-color: #141518;
    width: 100%;
    height: 500px;
}

#log-editor {
    background-color: #141518;
    width: 100%;
    height: 500px;
}

.actions {
    margin-top: 40px;
}

.editor-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    min-height:32px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}