.header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 13px;
    background-color: $darkest;
}

.heading-icon-and-app-name {    
    color: $neon-green;
    margin-right: 50px;    
}


.header-text {
    margin-left: 5px;
    font-weight: 700;
    font-size: 150%;
    font-style: italic;
    //text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.logo{
    transform: rotate(-305deg);
}