.header {
    position: relative;
    display: block;
}

.logo{
    display: inline-block;
    position: relative;
    bottom: 0px;
    height: 71px;
    line-height: 68px;
    background: $darkest;
    width: 250px;
    text-align: center;
    box-shadow: -7px 7px $shadow;
    border: 3px solid $darkest;
}

.logo-text {
    position: relative;
    display: inline;
    font-size: 21px !important;
}

.menu{
    display: inline-block;
    position: fixed;
    width: calc(100% - 250px);
    line-height: 45px;
}

.menu-bottom{
    display: block;
    position: relative;
    width: 100%;
    height: 55px;
    line-height: 50px;
    padding-left: 20px;
    padding-top: 8px;
    box-shadow: 0px 4px $shadow;
    background: lighten($darkest, 5%);
}

.control-bar-item + .control-bar-item{
    margin-left: 27px;
}

.control-bar-item{
    cursor: pointer;
}

.control-bar-item-text{
    color: $theme-color2;
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
    font-size: 15px;
}

.control-bar-item-text:hover{
    color: $theme-color;
}
