.icon-control-bar {
    color: $neon-green;    
    font-size: 165%;
    margin-right: 10px;
}

.icon-close-task{
    float:right;
    color: $semi-dark;
    font-size: 165%;
}

.log-ok {
    color: $neon-green;    
}

.log-pending {
    color: $neon-green;    
}

.log-error {
    color: DarkOrange;    
}