.settings-modal {
    position: relative;

    //top: 100px;
    //left: 200px;
    //right: 200px;
    //bottom: "auto";
     
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;       
    font-family: 'Open Sans', sans-serif;
    background: $semi-dark;  /* fallback for old browsers */
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px $darkest;
    opacity: 0.95;
}

.small {
    width: 30%;
}

.medium {
    width: 60%;
}

.large {
    width: 90%;
}

.settings-modal-buttons > * {
    margin-right: 5px;    
}

.btn-stimpack {
    background-color: $neon-green;
    color: black;
}

.manipulator-project-select {
    width: auto;
}

.manipulator-modal {
    position: relative;

    //top: 100px;
    //left: 200px;
    //right: 200px;
    //bottom: "auto";
     
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;       
    font-family: 'Open Sans', sans-serif;
    background: $semi-dark;  /* fallback for old browsers */
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px $darkest;
    opacity: 0.95;
    text-align: center;
}