.settings-modal, .manipulator-modal  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    font-family: $secondary-font;
    background: $dark;  /* fallback for old browsers */
    color: white;
    padding: 20px;
    box-shadow: -7px 7px $darkest;
    opacity: 0.95;
}

h4{
    font-size: 17px;
}

.small {
    width: 30%;
}

.medium {
    width: 60%;
}

.large {
    width: 90%;
}

.settings-modal-buttons > * {
    margin-right: 5px;
}

.btn-stimpack {
    background-color: $theme-color;
    color: black;
}

.manipulator-project-select {
    width: auto;
}

.modal-buttons > * {
    margin-right: 5px;
}

.message {
    color: $theme-color !important;
}

.add-manipulator-button {
    width: 100%;
}

.starter-button {
    font-weight: 900 !important;
}

.code-text-area {
    width: 800px;
}
