// Prettier ports
.srd-port{
    background: none;
    text-align: right !important;
}

.srd-default-node{
    background: $darkest;
}

.srd-default-node__title{
    background: none;
}

.srd-default-node__name, .srd-starter-node__name {
    font-family: $secondary-font;
    font-weight: 600;
}

// Enforce Node min width
.srd-node {
    min-width: 80px;
    //text-align: center;
    cursor: grab;
}

.srd-node:active{
    cursor: grabbing;
}

.srd-independent-node{
    @extend .srd-default-node;
    background-color: grey;
    color: black;

    &__name {
        flex-grow: 1;
        padding: 5px 20px;
    }
}

.srd-starter-node{
    @extend .srd-default-node;
    background-color: $theme-color;
    color: black;

    &__name {
        flex-grow: 1;
        padding: 5px 5px;
    }

    &__ports {
        display: flex;
        background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.2));
    }

    &__in, &__out{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

path {
    stroke: $path-stroke-color;
}