// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary-font: "Open Sans", cursive;
$secondary-font: 'Open Sans', sans-serif;

// Colors
$base-color: #212529;

$darkest: lighten( $base-color, 3%);
$dark: lighten( $darkest, 5%);
$middle: lighten( $dark, 5%);
$lighter: lighten( $middle, 10% );
$bright: lighten( $lighter, 10% );

$shadow: darken($base-color, 3%);

$main-background: white;
$header-background: #282D32;
$border-color: #dfe2e5;

// Theme color
$theme-color: #40fc3a;
$theme-color2: lighten($theme-color, 27%);
$corporate-color: $base-color;

// Modals
$modal-content-width: 760px;

// Diagram
$path-stroke-color: rgba(0,0,0,0.2);