
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Variables
@import "variables";

// Switch
@import "switch";

// Code editors
@import "editors";

// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $semi-dark;
    color: white;
}

.header {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: $darkest;
    text-align: center;
}

.generator {
    margin-top: 20px;
}

.inputs > * {
    margin: 10px 0;
}

.buttons > * {
    margin: 10px 0;
}

.heading-app-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 170%;
    letter-spacing: 5px;
    color: $neon-green;
}

.card-header {
    background-color: $darkest;
}

.card-body {
    background-color: $dark;
}

.btn-primary {
    background-color: $neon-green;
    width: 50%;
}

.btn-default {
    background-color: $neon-green;
    width: auto;
}

// Extend default container width!
@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}

.task-name {
    margin-left: 10px;
}

  // Select box width
select {
    width:30% !important;
}