@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
//@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "variables";
@import "switch";
@import "editors";
@import "icons";
@import "header";
@import "controlBar";
@import "_modal";
@import "_log";

@import "~bootstrap/scss/bootstrap.scss";

@import "~storm-react-diagrams/src/sass/main";
@import "_storm-react-diagrams-overrides.scss";


html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: $semi-dark;  /* fallback for old browsers */
    background: linear-gradient(to left, lighten($semi-dark, 1%), lighten($semi-dark, 11%), lighten($semi-dark, 19%), lighten($semi-dark, 3%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    height: 100%;
}

hr {
    border-color: white;
}

.srd-demo-canvas {
    height: 90vh;

}

.srd-node {
    font-size: 200% !important;
    color: red !important;
}

#main {
    height: 100%;
    position: relative;   
}

.invisible {
    display: none;
}

.footer {
    padding-top: 20px;
    padding-bottom: 15px;
    background: $darkest;  /* fallback for old browsers */
    background: linear-gradient(to left, lighten($darkest, 1%), lighten($darkest, 11%), lighten($darkest, 29%), lighten($darkest, 30%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    margin-top: 50px;
    width: 100%;
    bottom: 0;    
}

.bottom {
    position: relative;
    bottom: 0;
}

.generator {
    margin-top: 20px;
}

.inputs {
    margin-top: 60px;
    margin-bottom: 100px;
}

.inputs > * {
    margin: 10px 0;
}

.buttons > * {
    margin: 10px 0;
}

.card {
    margin: 0px;
    border-style: none;
    background: none;    
}

.card-header {
    border-radius: 10px;
    background-color: $darkest;
    padding-top: 5px;
    padding-bottom: 5px;    
}

.card-header span label{
    font-weight: 600;
    font-size: 19px;
    margin: 0px;
}

.card-body {
    background-color: $dark;
}

.card-body-hidden {
    background-color: $dark;
    display:none;
    transition: display 1.5s, linear;
}

p, .form-group label{
    font-size: 14px;
}

.btn-primary {
    background-color: $neon-green;
    width: 50%;
}

.btn-stim {
    background-color: $darkest;
    width: 50%;
}

.btn-default {
    background-color: $neon-green;
    width: auto;
}

// Extend default container width!

.task-name {
    margin-left: 10px;
}

.ready-to-roll-out {
    font-style: italic;
    text-align: center;
}

button {
    margin-top: 10px;
}

.siteUrlLink {
    padding-left: 40px;
}

.table-sm-width {
    width: auto;
}

